body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  /* gap: 1rem; */
}

.grid {
  display: grid;
  /* gap: 0.4rem; */
}

/* ===== coloring ===== */

:root {
  --color-blue: blue;
  --color-black: black;
  --color-red: red;
  --color-text: #fff;
  --body-bg: #000000;
}

.container {
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: linear-gradient(200deg, white, blue); */
  box-shadow: 0 8px 50px -7px black;
  background: #b6bdc6;
}

/* ==== main section ==== */

.cal {
  border: solid 2px;
  width: 400px;
  padding: 0.3rem;
  gap: 0.2rem;
  /* width: 50vw; */
  background: var(--body-bg);
  border-radius: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "result result result result" "ac c mod divide" "seven eight nine multiply" "four five six sub" "one two three add" "zero decimal equal equal";
}

.cal div {
  height: 70px;
  background: #2e3a4a;
  text-align: center;
  color: var(--color-text);
  /* margin: 1rem; */
  padding: 1rem;
}

.cal .result {
  text-align: right;
  grid-area: result;
}

.ac {
  color: rgb(255, 255, 0) !important;
}

.equal {
  grid-area: equal;
}

.cal :not(:first-child):hover {
  cursor: pointer;
  background: black;
  transform: 1.2s;
}
